@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> _userManager

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - Hr-Payroll System</title>

    <!-- Custom fonts for this template-->
    <link href="~/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/public/css/sb-admin-2.min.css" rel="stylesheet">

    <link href="~/css/site.css" rel="stylesheet" />


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
                <div class="sidebar-brand-text mx-3">HR PAYROLL SYSTEM</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->


            @if (User.IsInRole(SD.Hr.ToString()) || User.IsInRole(SD.Admin.ToString()))
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-user-plus"></i>
                        <span>Işçilər</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Işçi əlavəsi</h6>
                            <a class="collapse-item" href="@Url.Action("List","Worker")">İşçilərin siyahısı</a>
                            <a class="collapse-item" href="@Url.Action("Create","Worker")">İşçi əlavə et</a>
                            <a class="collapse-item" href="@Url.Action("AddCurrent","Workplace")">İşçinin vəzifəsini qeyd et</a>
                            <a class="collapse-item" href="@Url.Action("AddPrevious","Workplace")">Əvvəlki iş yerini qeyd et</a>
                        </div>
                    </div>
                </li>
            }



            @if (User.IsInRole(SD.Admin.ToString()))
            {

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Admin əlavələr</span>
                    </a>
                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Login Screens:</h6>
                            <a class="collapse-item" href="@Url.Action("ListRoles","Adminstrator")">Bütün rollar</a>
                            <a class="collapse-item" href="@Url.Action("CreateRole","Adminstrator")">Yeni rol əlavə et</a>
                            <a class="collapse-item" href="@Url.Action("Registration","Account")">Yeni istifadəçi əlavə et</a>
                        </div>
                    </div>
                </li>

                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>Şirkət</span>
                    </a>
                    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Şirkət əlavəsi</h6>
                            <a class="collapse-item" href="@Url.Action("List","Company")">Şirkətlərin siyahısı</a>
                            <a class="collapse-item" href="@Url.Action("Create","Company")">Şirkət əlavə et</a>
                        </div>
                    </div>
                </li>

                <!-- Nav Item - Pages Collapse Menu -->

                <!-- Divider -->
                <hr class="sidebar-divider">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List","Department")">
                        <i class="far fa-building"></i>
                        <span>Departamentlər</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List","Shop")">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Mağazalar</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List","Position")">
                        <i class="fas fa-user-cog"></i>
                        <span>Vəzifələr</span>
                    </a>
                </li>

                <!-- Nav Item - Tables -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List", "Attendance")">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Davamiyyət cədvəli</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List","Vacation")">
                        <i class="far fa-building"></i>
                        <span>Məzuniyyət cədvəli</span>
                    </a>
                </li>
            }



            @if (User.IsInRole(SD.Hr.ToString()))
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List","Company")">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>Şirkətlər</span>
                    </a>
                </li>
                <!-- Nav Item - Additional -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List","Department")">
                        <i class="far fa-building"></i>
                        <span>Departamentlər</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List","Shop")">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Mağazalar</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List","Position")">
                        <i class="fas fa-user-cog"></i>
                        <span>Vəzifələr</span>
                    </a>
                </li>

                <!-- Nav Item - Tables -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List", "Attendance")">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Davamiyyət cədvəli</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List","Vacation")">
                        <i class="far fa-building"></i>
                        <span>Məzuniyyət cədvəli</span>
                    </a>
                </li>
            }



            @if (User.IsInRole("DHIT") || User.IsInRole("DHMarketing") || User.IsInRole("DHSales") || User.IsInRole("DHBusinessDev"))
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List","Company")">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>Şirkətlər</span>
                    </a>
                </li>
                <!-- Nav Item - Additional -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List","Department")">
                        <i class="far fa-building"></i>
                        <span>Departamentlər</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List","Shop")">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Mağazalar</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("WorkerPromotionList", "Promotion")">
                        <i class="fas fa-award"></i>
                        <span>İşçilər üzrə bonus</span>
                    </a>
                </li>

            }

            @if (User.IsInRole(SD.Payroll.ToString()))
            {

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List","Company")">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>Şirkətlər</span>
                    </a>
                </li>
                <!-- Nav Item - Additional -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List","Department")">
                        <i class="far fa-building"></i>
                        <span>Departamentlər</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List","Shop")">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Mağazalar</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ShopPromotionList", "Promotion")">
                        <i class="fas fa-award"></i>
                        <span>Mağazaların satış bonusu</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Payroll")">
                        <i class="far fa-money-bill-alt"></i>
                        <span>Maaşın hesablanması</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("PaidSalaries", "Payroll")">
                        <i class="far fa-money-bill-alt"></i>
                        <span>Ödənilən maaşlar</span>
                    </a>
                </li>
            }




            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input id="myInput" type="text" class="form-control bg-light border-0 small" placeholder="Axtarış..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter"></span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>

                                <a class="dropdown-item text-center small text-gray-500" href="#">No Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter"></span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>

                                <a class="dropdown-item text-center small text-gray-500" href="#">No Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            var data = await _userManager.FindByNameAsync(User.Identity.Name);
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Xoş gəldiniz, @data.FirstName @data.LastName</span>
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a style="margin-left: 25px; " asp-controller="Account" asp-action="Logout">Hesabdan çıxış</a>
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>

                                </div>
                            </li>
                        }


                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; HR-Payroll System 2019</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/public/vendor/jquery/jquery.min.js"></script>
    <script src="~/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/public/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/public/js/sb-admin-2.min.js"></script>

    <!-- Page Delete custom Alert -->
    <script src="~/js/deletePopup.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)


</body>

</html>
