@model IEnumerable<HrPayrollSystemFinal.Models.Worker>

@foreach (var item in Model)
{
    <tr>
        <td>
            @item.Surname
            @item.Name
            @item.FatherName<br />
            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Şəxsi məlumat</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthdayDate)
        </td>
        <td>
            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Düzəliş et</a>
            <a class="btn btn-outline-info" asp-action="CurrentWorkplaceDetails" asp-route-id="@item.Id">Vəzifəsi haqqında məlumat</a>
            <a class="btn btn-outline-info" asp-action="PreviousWorkplaceDetails" asp-route-id="@item.Id">Əvvəlki iş yeri haqqında məlumat</a>
            <a class="btn btn-outline-danger delete"
               data-id="@item.Id"
               data-controller="Worker"
               data-action="Delete"
               data-body-message="Siz bu informasiyani silməkden əminsiniz?">
                Məlumatı sil
            </a>
        </td>
    </tr>
}
<script src="~/js/deletePopup.js"></script>
